<a href="https://colab.research.google.com/github/SatyaIyerRaghav/PandaPractisePrograms/blob/main/LambdaFunctionPractise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***# LAMBDA FUNCTIONS PRACTISE***

In [ ]:
#. 1 LAMBDA WITH STRINGS AND FUNCTIONS

s= "I love coDinG"

# print(lambda x : x = str.Upper(s))
stringobj = (lambda string : string.title())
print(stringobj(s))

z = (lambda x : x+10)
print(z(5))

In [ ]:
# Using 2 or 3 variables

x = lambda a,b : a*b
print(x(2,3))

fname = input("Enter First Name ")
mname = input("Enter Middle Name ")
lname = input("Enter Last Name ")
fullname = (lambda fname,mname,lname : fname +" "+mname + " "+ lname)
print("FULL NAME : ",fullname(fname,mname,lname))

In [23]:
# REVERSE OF STRING USING LAMBDA FUNCTION

s = input("Enter a String ")
a = (lambda x: x.lower()[::-1])
print(a(s))

Enter a String I love Coding
gnidoc evol i

In [ ]:
# Difference between lambda and def function
'''
With lambda function	                                                     Without lambda function
Supports single line statements that returns some value.     	      Supports any number of lines inside a function block
Good for performing short operations/data manipulations.          	Good for any cases that require multiple lines of code.
Using lambda function can sometime reduce the readability of code.	We can use comments and function descriptions for easy readability.
'''
def cal(x):
  return x*x*x

lamdafun = lambda x : x*x*x

print(cal(5))
print(lamdafun(5))

#Both gives the same output.See the writing and calling Style.

# **.Practical Uses of Python lambda function**

In [39]:
#Example 1: Python Lambda Function with List Comprehension

mylist = (lambda args = x:  args * 10 for x in range(1,5))
for i in mylist:
  print(i())

10
20
30
40

In [43]:
# Example 2 :Python Lambda Function with if-else

num = (lambda x : "even" if x%2==0 else "odd")
p = int(input("Enter the number: "))
print(num(p))

Enter the number: 35
odd

In [50]:
# . Example 3: Python Lambda with Multiple statements
mylist = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]
numsort = lambda x: (sorted(i) for i in x)
# numsort = lambda x : (sorted(i) for i in x)
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(mylist, numsort)
print(res)

[3, 16, 9]

In [53]:
#.Using lambda() Function with filter()
#Example 1: Filter out all odd numbers using filter() and lambda function

mylist =[1,4,6,8,9,20,34,56,78,7,11]
check = list(filter(lambda x:(x%2 != 0),mylist))
print(check)

[1, 9, 7, 11]

In [54]:
#.Example 2: Filter all people having age more than 18, using lambda and filter() function

agelist =[12,67,45,7,90,13,5,8]
checkage = list(filter(lambda x:(x>18),agelist))
print(checkage)

[67, 45, 90]

In [57]:
#.Using lambda() Function with map()
# Example 3: Multiply all elements of a list by 2 using lambda and map() function

mylist=[1,4,6,8,9,2]
m = list(map(lambda x: (x*2),mylist))
print(m)

[2, 8, 12, 16, 18, 4]

In [1]:
#.Example 2: Transform all elements of a list to upper case using lambda and map() function

mylist=['apple','banana','mango']
s = list(map(lambda x :(x.upper()),mylist))
print(s)

['APPLE', 'BANANA', 'MANGO']

In [ ]:
# Using lambda() Function with reduce()
# Example 1: Sum of all elements in a list using lambda and reduce() function

from functools import reduce
mylist=[2,7,5,0,1]

g = reduce((lambda x,y: x+y),mylist)
print(g)

In [14]:
#. Example 2: Find the maximum element in a list using lambda and reduce() function

from functools import reduce
mylist = [78,56,4,0,66,44,66,90]
maxnum = reduce((lambda x ,y : x if x >y else y),mylist)
print(maxnum)

90

In [30]:
# . Given a list of strings, find all palindromes.using lambda() and filter()

mylist=["hannah","found","aabbaa"]
pal = list(filter(lambda x: (x == "".join(reversed(x))), mylist)) 
print(pal)

['hannah', 'aabbaa']

Pandas dataframe groupby()

In [54]:

import pandas as pd
f= pd.read_csv('cars (2).csv')
#print(list(f.columns))
f.columns =['Country', 'Code', 'Country Name', 'Sales','Market']
print(f.head(5))

  Country Code Country Name  Sales  Market
0   ASPAC  AUS    Australia  731.0    True
1   ASPAC  JAP        Japan  588.0    True
2   ASPAC   IN        India   18.0    True
3   ASPAC   RU       Russia  200.0   False
4   LATAM  MOR      Morocco   70.0   False

In [ ]:
# groupby

nba = pd.read_csv('nba.csv')
# nba.head(5)
p = nba.groupby('Team')
p.head()

In [ ]:
# We use the function get_group() to find the entries contained in any of the groups. 
m = p.get_group('Utah Jazz')
# n = p.get_group('Boston Celtics')
m.head(3)
# n.head(3)

In [73]:
#.using groupby for multiple rows.

h = nba.groupby(['Team','Position'])
h.first()

                                         Name  Number   Age Height  Weight  \
Team               Position
Atlanta Hawks      C               Al Horford    15.0  30.0   6-10   245.0
                   PF          Kris Humphries    43.0  31.0    6-9   235.0
                   PG         Dennis Schroder    17.0  22.0    6-1   172.0
                   SF           Kent Bazemore    24.0  26.0    6-5   201.0
                   SG        Tim Hardaway Jr.    10.0  24.0    6-6   205.0
...                                       ...     ...   ...    ...     ...
Washington Wizards C            Marcin Gortat    13.0  32.0   6-11   240.0
                   PF             Drew Gooden    90.0  34.0   6-10   250.0
                   PG          Ramon Sessions     7.0  30.0    6-3   190.0
                   SF            Jared Dudley     1.0  30.0    6-7   225.0
                   SG           Alan Anderson     6.0  33.0    6-6   220.0

                                          College      Salary
Team               Position
Atlanta Hawks      C                      Florida  12000000.0
                   PF                   Minnesota   1000000.0
                   PG                 Wake Forest   1763400.0
                   SF                Old Dominion   2000000.0
                   SG                    Michigan   1304520.0
...                                           ...         ...
Washington Wizards C         North Carolina State  11217391.0
                   PF                      Kansas   3300000.0
                   PG                      Nevada   2170465.0
                   SF              Boston College   4375000.0
                   SG              Michigan State   4000000.0

[149 rows x 7 columns]

In [86]:
#. combine Groupby and Multiple Aggregate Functions in Pandas

j = nba.groupby(['Salary']).mean()
j.head(5)

k = nba.Salary.agg(["min","max","mean","sum"])
k.head(5)

g = nba.groupby(['Team','Position']).Salary.agg(["min","max","mean","sum"])
g.head(5)

<ipython-input-86-fd6237972360>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  j = nba.groupby(['Salary']).mean()

                              min         max          mean         sum
Team          Position
Atlanta Hawks C         1000000.0  12000000.0  7.585417e+06  22756250.0
              PF         947276.0  18671659.0  5.988067e+06  23952268.0
              PG        1763400.0   8000000.0  4.881700e+06   9763400.0
              SF        2000000.0   4000000.0  3.000000e+06   6000000.0
              SG         525093.0   5746479.0  2.607758e+06  10431032.0