<a href="https://colab.research.google.com/github/SatyaIyerRaghav/PandaPractisePrograms/blob/main/Pandas_graded_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import numpy as np
import pandas as pd

In [31]:
df=pd.read_csv('MegaMart_sales.csv')
df.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art

In [32]:
df_new=pd.read_csv('MegaMart_newsales.csv')
df_new.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1902971,"Wilson Jones Binding Machine, Clear",0.0,339,102,7,Office Supplies,Binders
1,AZ-2011-1916360,"Dania 3-Shelf Cabinet, Mobile",0.0,288,20,2,Furniture,Bookcases
2,AZ-2011-1916555,"Eldon Folders, Single Width",0.4,61,7,6,Office Supplies,Storage
3,AZ-2011-1930058,"Sanford Markers, Easy-Erase",0.0,71,1,3,Office Supplies,Art
4,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories

#### Combining two data frames
Question 1: Some of the orders are stored in another csv file named `megamart_new sales`. Read the csv file, store it in a data frame and add it to the `megamart_sales` data frame. Find the total sales value of the category 'Office Supplies'  after combining the dataframes

    a)7970
    b)6964
    c)7494
    d)6076

In [33]:
#your code here
t = pd.concat([df,df_new])
t.head()
# q = df.merge(df_new,on='Order ID', how ='left')
# q.head()
tot_sales =t [t.Category == 'Office Supplies'].Sales.sum()
tot_sales

7970

#### Dropping duplicates
Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

    a)7156
    b)6496
    c)6964
    d)6023

In [81]:
#your code here
t.drop_duplicates(inplace =True,keep ='first')
t [t.Category == 'Office Supplies'].Sales.sum()

6964

#### Best category-sub category 
Question 3: Find the most profitable category and sub category combination based on the net profit.


    a)Furniture-Bookcases
    b)Office supplies-Appliances
    c)Office supplies-Storage
    d)Technology-Phones

In [25]:
#your code here
t.head()
m = t.groupby(['Category','Sub-Category']).sum()
t.sort_values(m)
print(max(t).head())

KeyError: ignored

#### Invalid order IDs
Question 4: How many invalid order IDs are there in the data frame? An order id is of the form AZ-2011-Y where Y represents a whole number. A Order ID is said to be valid only if Y consists of 7 digits. Find the number of invalid order IDs in the data frame.
    
    a)6
    b)7
    c)8
    d)9

In [ ]:
#your code here
k = t['Order ID']
a=0
for i,j,z in k.str.split('-'):
  print(i)
  print(j)
  print(z)
  if len(z) != 7 :
       a=a+1
print(a)

#### Occurence of furniture in top 25 sales
Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

    a)2
    b)3
    c)4
    d)5

In [ ]:
#your code here
h = t [t.Category == 'Furniture'].sort_values('Sales',ascending=False)
print(h.head())

#### And operation
Question 6: Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

    a)Motorola Headset, with Caller ID
    b)Panasonic Printer, Durable	
    c)Hoover Microwave, Red	
    d)Fellowes Lockers, Industrial

In [100]:
#your code here

d =t[(t['Sales'] > 250) & (t['Profit'] >50)].sort_values('Sales' , ascending = False)
print(d.head(5))

           Order ID                      Product Name  Discount  Sales  \
30  AZ-2011-1410648      Nokia Smart Phone, Full Size       0.0   1908
58   AZ-2011-176674             Hoover Microwave, Red       0.1   1667
8   AZ-2011-1174243  Nokia Audio Dock, with Caller ID       0.0   1334
20  AZ-2011-1322840  Motorola Headset, with Caller ID       0.0    957
3   AZ-2011-1372644        Panasonic Printer, Durable       0.0    800

    Profit  Quantity         Category Sub-Category
30     820         3       Technology       Phones
58     185         6  Office Supplies   Appliances
8      200         8       Technology       Phones
20     316        12       Technology       Phones
3      168         3       Technology     Machines

#### Column manipulation
Question 7: Remove the orders with negative profit by dropping the corresponding rows with negative `Profit`. Find the product that makes the lowest profit per Quantity in the Technology category.

    a) Nokia Audio Dock, with Caller ID
    b) Logitech Keyboard, Programmable
    c) Motorola Headset, with Caller ID
    d) Belkin Flash Drive, Bluetooth

In [111]:
#your code here
b = t[ (t['Profit'] > 0) & (t['Category'] == 'Technology')]
b['profit_per_quantity'] = b.Profit/b.Quantity
b.sort_values(["profit_per_quantity"]).head(1)

<ipython-input-111-9d45b2ec5ad9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b['profit_per_quantity'] = b.Profit/b.Quantity

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,profit_per_quantity
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,7.333333